.card {
  box-shadow: 0px 1px 3px 0px #0000000A;
  box-shadow: 0px 4px 16px 0px #00000014;

  &:hover {
    background-color: var(--bg-surface-l1);
  }

  &.active {
    background-color: var(--bg-brand-subtle-rest);
    border: 2px solid var(--bg-brand-emphasis-rest);
    margin: -1px;

    &:hover {
      background-color: var(--bg-brand-subtle-hover);
    }
  }
}
