// header customization
.q-header {
  background-color: white;
}

// stepper customization
.q-stepper__dot {
  height: 32px;
  width: 32px;
  font-size: var(--font-size-md);
  font-weight: 600;
  background-color: var(--bg-surface-l2);
  
  span {
    color: var(--text-neutral-quiet);
  }
}

.q-stepper__content {
  display: none;
}

.q-stepper__title {
  font-size: 13px;
}

.q-stepper--horizontal {
  .q-stepper__line:before, .q-stepper__line:after {
    height: 2px;
    border-radius: 1px;
    margin-left: 16px;
    margin-right: 16px;
  }
}

.q-stepper__tab--active  {
  .q-stepper__title {
    font-weight: 600;
  }

  .q-stepper__dot {
    background-color: var(--bg-brand-emphasis-rest);
  }

  .q-stepper__dot span {
    color: var(--text-inverse-default);
  }

  .q-stepper__line:before {
    background-color: var(--bg-brand-emphasis-rest);
  }
}

.q-stepper__tab--done  {
  .q-stepper__title {
    font-weight: 500;
  }

  .q-stepper__dot {
    background-color: var(--bg-brand-emphasis-rest);
  }

  .q-stepper__dot span {
    color: var(--text-inverse-default);
  }

  .q-stepper__line:before, .q-stepper__line:after {
    background: var(--bg-brand-emphasis-rest);
  }
}

.q-stepper__tab--error  {
  .q-stepper__dot {
    background-color: var(--bg-danger-emphasis-rest) !important;
    color: white;
    
  }

  &.q-stepper__tab--error-with-icon .q-stepper__dot span{
    font-size: var(--font-size-sm);
  }

  .q-stepper__dot span, .q-stepper__title {
    color: var(--text-danger-default);
  }

  .q-stepper__line:before, .q-stepper__line:after {
    background: var(--bg-surface-l2);
  }

  &+ .q-stepper__tab .q-stepper__line:before {
    background: var(--bg-surface-l2);
  }
}

// btn group customization
.q-btn-group {
  border-radius: 10px;
  padding: 4px;
  background-color: var(--bg-surface-l2);
  box-shadow: none;

  .q-btn.q-btn-item {
    border-radius: 8px;
    text-transform: none;
    font-size: 13px;
    font-weight: 600;
    color: var(--text-neutral-muted);
  }
}
